body {  
  margin:0;
  
}

ul.mainNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;

  width: 100%;
}

ul.mainNav li {
  float: left;
}

ul.mainNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.mainNav li a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.441);
}

.active {
  background-color: #E95420;
}


/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}

/* index.html */


body {background-image: url("/images/background\ img.jpg");
  background-size: cover;}
  
  .os {
      color:rgb(239, 239, 2);
      font-size: 45px;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .img {float: right;
      right: 25%;  
  }
  
  .positioncen{
    background-color: #03a89d9c;
      position: relative;
      width: 70%;
      left: 15%;
      top: 20%;
      padding: 30px;
      opacity: ;
  }
  .text{
   color:black;}
  
  
  .positioncen h2{
      color:white;
      font-size: 25px;
      font-style: oblique;
  }
   .positioncen p{color: rgb(233, 233, 11);
  font-size: 25px;
  font-style: oblique;}









  #linksList {
    margin-top: 20px;
  }