body {  
  margin:0;
  
}

ul.mainNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;

  width: 100%;
}

ul.mainNav li {
  float: left;
}

ul.mainNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.mainNav li a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.441);
}

.active {
  background-color: #E95420;
}


/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  
}