body {  
  margin: 0;
  background-image: url("/images/background img.jpg");
  background-size: cover;
}

/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}

.main h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(226, 226, 226);
}

.os {
  color: rgb(239, 239, 2);
  font-size: 45px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
  float: right;
}

.img2 {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  width: 40%;
  opacity: 0.20;
}

.img2:hover {
  opacity: 1.0;
  transform: scaleX(-1);
}

.img3 {
  margin: 50% 80px 0 40px;
  width: 40%;
}

.positioncen {
  background-color: #03a89d9c;
  position: relative;
  width: 70%;
  left: 15%;
  top: 20%;
  padding: 30px;
}

.text {
  color: black;
  font-style: italic;
}

.positioncen h2 {
  color: white;
  font-size: 25px;
  font-style: oblique;
}

#definition {
  color: rgb(6, 38, 118);
}

.positioncen p {
  color: rgb(233, 233, 11);
  font-size: 25px;
  font-style: oblique;
}

#linksList {
  margin-top: 20px;
  font-style: oblique;
  font-weight: bold;
  list-style-type: none;
}

.passage {
  background-color: #03a89d9c;
  position: relative;
  width: 70%;
  left: 15%;
  top: 20%;
  padding: 30px;
}

.passage h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.passage p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.passage h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.links {
  background-color: #04847c;
  position: relative;
  width: 70%;
  left: 15%;
  top: 20%;
  padding: 30px;
  text-align: center;
}

#video {
  background-color: #03a89d9c;
  position: relative;
  width: 70%;
  left: 15%;
  top: 20%;
  padding: 30px;
  text-align: center;
}

/* Navigation Bar */
ul.mainNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

ul.mainNav li {
  float: left;
}

ul.mainNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.mainNav li a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.441);
}

.active {
  background-color: #E95420;
}

/* Hamburger Nav Bar Classes */
nav {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  cursor: pointer;
  display: none; /* Hide the hamburger menu on larger screens */
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.videoSize{
  width:91%; 
  height:350px;
}

/* Media Queries */

/* Reset display property when screen resolution is greater than 768px */
@media screen and (min-width: 769px) {
  .nav-list {
    display: flex;
  }
  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu-toggle {
    display: block; /* Display the hamburger menu on smaller screens */
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav-list {
    display: none; /* Hide the nav links on smaller screens */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block; /* Display the hamburger menu on smaller screens */
  }
}

#linksUnordered{
  list-style-type: none;
}

.copyright-text{
  color: orange;
}