/* Styles for the navigation bar */
nav {
    background-color: #333;
}

/* Styles for the navigation links */
.nav-list li a {
    color: white;
    text-decoration: none;
}

/* Styles for the hamburger menu icon */
.menu-toggle {
    cursor: pointer;
    display: none; /* Hide the hamburger menu on larger screens */
}

/* Styles for the bars in the hamburger menu icon */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* Media query for screens up to 768px width */
@media screen and (max-width: 768px) {
    /* Styles for the navigation list on smaller screens */
    .nav-list {
        display: none; /* Hide the nav links on smaller screens */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    /* Styles for the list items in the navigation list on smaller screens */
    .nav-list li {
        margin: 10px 0;
    }

    /* Styles for the hamburger menu on smaller screens */
    .menu-toggle {
        display: block; /* Display the hamburger menu on smaller screens */
    }
}
