nav {
    background-color: #333;

}



.nav-list li a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    cursor: pointer;
    display: none; /* Hide the hamburger menu on larger screens */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none; /* Hide the nav links on smaller screens */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block; /* Display the hamburger menu on smaller screens */
    }
}